<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 01</title>
</head>
<body>
    <p th:text="${x1}">Alô mundo. Hello Word!</p>
    <p th:text="${x2}">Alô mundo. Hello Word!</p>
    <p th:text="${x3}">Alô mundo. Hello Word!</p>
    <p th:text="${x4}">Alô mundo. Hello Word!</p>
    <p th:text="${x5}">Alô mundo. Hello Word!</p>
    <p th:text="${x6}">Alô mundo. Hello Word!</p>
</body>
</html>